{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - toggle_label: The text to display on the menu toggle button.
 * - collapsible: TRUE if the menu is collapsible.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, collapsible, toggle_label) }}

{% macro menu_links(items, attributes, menu_level, collapsible, toggle_label) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      {% if collapsible %}
        <button class="menu-toggle" aria-label="{{ toggle_label }}">☰</button>
      {% endif %}
      <ul{{attributes}}>
      {% else %}
        <ul>
        {% endif %}
        {% for item in items %}
          <li{{item.attributes}}>
            {% if item.below %}
              {{ link(item.title, item.url, create_attribute({'class': ['dropdown-toggle']})) }}
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% else %}
              {{ link(item.title, item.url) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endmacro %}
